body {
    background-color:  rgb(9, 2, 16);
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 800px;
    height: 1030px;
    margin:auto;
    background-color: white;
    border-radius: 3px;
  }
  
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 650px;
    margin-left: 20px;

  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    text-align: center;
    border: none;
    background-color:rgb(136, 0, 255);
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color:  rgb(255, 162, 0);
  }
  